<div class='col-sm-9'>
  <div class='panel panel-primary' id='items-panel'>
    <div class='panel-heading clearfix'>
        {{{controller.feed.title}}}
        {{#if controller.feed.description}}- {{{controller.feed.description}}}{{/if}}
      <span id='items-buttons' class='pull-right'>
        <!-- Filter Input -->
        <label for='items-filter' class='sr-only'>Filter:</label>
        {{input id='items-filter' name='filter' type='text' value=filterInput
                placeholder="Filter..." class='form-control input-sm'}}
        <!-- Refresh Button -->
        <button class='btn btn-xs btn-success' {{action 'refresh'}}>
          <span class='glyphicon glyphicon-refresh {{if isReloading "spinning" ""}}'></span>
        </button>
      </span>
    </div>
    <div class='panel-body'>
      <table class='table table-condensed table-striped'>
      <thead>
        <tr>
          <th>Title</th>
          <th class='text-center'>Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each filteredResults as |item|}}
          {{#link-to 'feeds.feed.feeditems.feeditem' feed.id item.id tagName='tr' class='clickable'}}
            {{#link-to 'feeds.feed.feeditems.feeditem' feed.id item.id tagName='td'}}
              {{#link-to 'feeds.feed.feeditems.feeditem' feed.id item.id}}{{{item.title}}}{{/link-to}}
            {{/link-to}}
            {{#link-to 'feeds.feed.feeditems.feeditem' feed.id item.id tagName='td' class='text-center'}}
              {{item.formattedDate}}
            {{/link-to}}
          {{/link-to}}
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{! Feed Item }}
{{outlet}}
